<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
<h2>Sign In </h2>
<br/>
</div>
<div class="container">
<form action="/process_login" method="POST">
  <div class="col-4">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name ="email">
   <br/>
  </div>
  <div class="col-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<div class="alert alert-danger" role="alert">Invalid username or password </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
