<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
<h2>Register </h2>
<br/>

<form action="register" method="POST">
  <div class="col-4">
    <label for="email">Email address </label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name ="email">
	  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <br/>
  <div class="col-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" Create a password" name="password">
  </div>
  <br/>
&nbsp;&nbsp; <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
