<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<h2>Register </h2>
<br/>
<form action="register" method="POST">
  <div class="col-4">
    <label for="full_name">Full name </label>
    <input type="full_name" class="form-control" placeholder="Henri Poincaré" name ="full_name" required>
  </div>
  <br/>
  <div class="col-4">
    <label for="email">Email address </label>
    <input type="email" class="form-control" placeholder="name@utrgv.edu" name ="email" required>
  </div>
  <br/>
  <div class="col-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Create a password" name="password" required>
  </div>
  <br/>
&nbsp;&nbsp; <button type="submit" class="btn btn-primary">Register</button>
</form>
<br/>
<p class="terms-link">By signing up, you're agreeing to our <a href="#">Terms of Use.</a></p>

</div>
<br/>
<br/>
<br/>
