<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
<h2>Register </h2>
<br/>
<form action="register" method="POST">
  <div class="col-4">
    <label for="full_name">Full name </label>
    <input type="full_name" class="form-control" id="exampleInputEmail1" placeholder="Grisha Perelman" name ="full_name">
  </div>
  <br/>
  <div class="col-4">
    <label for="email">Email address </label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@utrgv.edu" name ="email">
  </div>
  <br/>
  <div class="col-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Create a password" name="password">
  </div>
  <br/>
&nbsp;&nbsp; <button type="submit" class="btn btn-primary">Register</button>
</form>
<br/>
<p class="terms-link">By signing up, you're agreeing to our <a href="/terms-of-use">Terms of Use.</a></p>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
