<div class="listings animated fadeIn">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1>Account Details</h1>
<br/>
<br/>
<p>Email: <%= current_user.email %> </p>
<br/>
<p>Name: <%= current_user.full_name %></p>
<br/>
<p>Skills:  <%= current_user.skills %></p>
<br/>
<p>Preferred location: <%= current_user.preferred_location %></p>
<br/>
   <% if (current_user.administrator == true && current_user.pro == false) %>
   <button type="button" class="btn btn-dark disabled">Edit Profile</button>
   <br/>
   <br/>
   <div class="alert alert-warning">You do not have access to edit your profile because you are an administrator. Modify users <a href="/admin/users" class="alert-link">here.</a></div>
   <% elsif (current_user.pro == true) %>
      <p><a class="btn btn-dark" href="/account/edit_profile" role="button">Edit Profile</a></p>
   <% else %>
      <p><a class="btn btn-dark hvr-fade disabled" href="/account/edit_profile" role="button">Edit Profile</a></p>
      <br/>
      <div class="alert alert-warning">You currently do not have access to edit your profile because you are a
         free member. <a href="/user/upgrade" class="alert-link">Upgrade</a> to premium to edit your skills and be matched with
         dozens of internships tailored to you.</div>
   <% end %>
<br/>
</div>
<br/>
<br/>
