<div class="upload-listing">
<br/>
<br/>
<br/>
<h1>Account Profile</h1>
<br/>
<br/>
<div class="alert alert-success" role="alert">
  Successly updated profile.
</div>

<br/>
<p>Full name: <%= current_user.full_name %></p>
<br/>
<p>Skills: <%= current_user.skills %></p>
<br/>
<p>Preferred location: <%= current_user.preferred_location %></p>
<br/>
<br/>
<br/>
<br/>
<br/>
