<div class="upload-listing">
<br/>
<br/>
<br/>
<h1>Edit Account Profile</h1>
<br/>
<br/>
<form action="/update_profile" method="POST">
   <p>E-mail: <%= current_user.email %></p>
   <p>Name: <%= current_user.full_name %></p>
   <div class="row" id="aisle">
        <div class="col-6">
            <label for="listingDescription">Skills</label>
            <input type="text" data-role="tagsinput" class="form-control" name="skills" value="<%= current_user.preferred_location%>" required>
        </div>
        <br/>
     </div>
     <br/>
     <div class="row" id="aisle">
     <div class="col-6">
         <label for="listingDescription">Preferred Location (optional)</label>
         <input type="text" class="form-control" value="<%= current_user.preferred_location%>" name="preferred_location">
    </div>
    </div>
    <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
