<div class="upload-listing">
<br/>
<br/>
<br/>
<h1>Edit Account Profile</h1>
<br/>
<br/>
<form action="/update_profile" method="POST">
   <p>E-mail: <%= current_user.email %></p>
   <p>Name: <%= current_user.full_name %></p>
   <div class="row" id="aisle">
        <div class="col-6">
<<<<<<< HEAD
            <label for="listingDescription">Skills (ex: HTML, CSS, JavaScript, etc)</label>
=======
            <label for="listingDescription">Skills (Ex: Python, Java, Photoshop)</label>
>>>>>>> ff5af7471df31278d95e36495e16b0389f66508e
            <input type="text" data-role="tagsinput" class="form-control" name="skills" value="<%= current_user.skills%>" required>
        </div>
        <br/>
     </div>
     <br/>
     <div class="row" id="aisle">
     <div class="col-6">
<<<<<<< HEAD
         <label for="listingDescription">Preferred Location (optional)</label>
=======
         <label for="listingDescription">Preferred Location (if you have no preference, type "Multiple locations")</label>
>>>>>>> ff5af7471df31278d95e36495e16b0389f66508e
         <input type="text" class="form-control" value="<%= current_user.preferred_location%>" name="preferred_location">
    </div>
    </div>
    <br/>
  <button type="submit" class="btn btn-premium">Submit</button>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
