<div class="jumbotron">
  <div class="grid-container">
     <% if current_user %>
      <div class="item1">
         <p>
           Welcome back <br/>
         </p>
      </div>


    <div class="item2">
      <p><%= youtube_embed ("watch?v=kWGs4wKgzMU") %></p>
    </div>
</div>
</div>
<div class="free-vs-premium">
   <div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <strong><h4>Free</h4></strong>
         <h4>$0.00</h4>
         <hr>
         <br/>
         <ul>
           <li class="premium-benefits"> Create account </li>
           <li class="free-benefits"> Customize profile </li>
           <li class="free-benefits"> View top 10 internships </li>
           <li class="free-benefits"> View internships based on your skills </li>
           <li class="free-benefits"> View internships based on your preferred location </li>
          </ul>
          <br/>
          <hr>
        <a href="#" class="btn btn-free card-btn hvr-fade"><strong>GET FREE</strong></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <strong><h4>Premium</h4></strong>
        <h4>$5.00</h4>
        <hr>
        <br/>
        <ul>
          <li class="premium-benefits"> Create account </li>
          <li class="premium-benefits"> Customize profile </li>
          <li class="premium-benefits"> View top 10 internships </li>
          <li class="premium-benefits"> View internships based on your skills </li>
          <li class="premium-benefits"> View internships based on your preferred location </li>
         </ul>
         <br/>
         <hr>
        <a href="/" class="btn btn-premium card-btn hvr-fade"><strong>GET PREMIUM</strong></a>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
</div>

    <% else %>
    <div class="item1">
      <br/>
      <p>
         We connect software engineering <br/>
         students with internships <br/>
         relevant to their skills.
      </p>
     <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
    </div>
    <div class="item2">
      <p><%= youtube_embed ("watch?v=kWGs4wKgzMU") %></p>
    </div>
    </div>
    </div>
    <div class="about-app">
      <h2>HOW DOES IT WORK?</h2>
      <h5 align="center">Still got questions? don't worry!
      the website's functionalities are described in detail below:</h5>

      <h4>FREE USERS</h4>
      <p>Sing up with your <b>UTRGV</b> email to become a free user! as such, you will be able to see
      up to ten great opportunities currently open under <b>"Internships"</b>. </br>

      <h4>PREMIUM USERS</h4>
      For a better experience, <b>upgrade</b> to become a PREMIUM user by paying a one-time fee of 5 USD. </br>
      PREMIUM users can create a personal profile and:

      <ul>
        <li>Input their name</li>
        <li>Add their skills and qualifications (e.g. C++, HTML, Ruby)</li>
        <li>Specify their preferred location to work on (state)</li>
      </ul>
      <p>You can always come back and edit your profile if you need to make any changes.</br></br>
        As a PREMIUM user, internship opportunities will be "matched" to you: where only internships that require
        your skills and abilities, as well as your preferred location, will be displayed. </br>
        From there, you can just click on <b>Apply</b> and will be automatically taken directly to the application.
      </p>

      <p align="center"><img src="./images/sweships_report.png"></p>
    </div>
   <% end %>
