<div class="jumbotron">
  <div class="grid-container">
      <div class="item1"> <p></br></br>
        We connect software engineering <br/>
        students with internships <br/>
        relevant to their skills.</p>
        <p><a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up</a></p>
      </div>
    
    <div class="item2">
      <p><%= youtube_embed ("watch?v=kWGs4wKgzMU") %></p>
    </div>
  </div>
</div>