<!DOCTYPE html>
<html>
<head>
	<title>interns.io</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Nunito|Lato:300|Quicksand|Karla" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/bootstrap-tagsinput.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" type="text/css" href="/animate.css">
	<link rel="icon" href="/images/favicon.ico" />
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript">
		$(window).on('load',function(){
			$('.loader').addClass('complete')
		})

		$(function () {
  $(document).scroll(function () {
	  var $nav = $(".fixed-top");
	  $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
	});
});
	</script>
	<base href="/">
</head>
<body>

	<%= erb :navigation %>

	<main role="main">
		<div class="loader">
			<div></div>
			<div></div>
			<div></div>
		</div>

		<%= yield %>

	</main>
	<div class="slogan">
		<h1>interns.io</h1>
		<strong><h3>
         the easiest way to find an internship </h3> </strong>
	</div>
    <footer class="end">
			<p>&copy; Copyright interns.io 2018. All rights reserved.</p>
    </footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 	<script type="text/javascript" src="bootstrap-tagsinput.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
 </html>
