<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/">&nbsp;&nbsp;swe-ships</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/listings">Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Upload </a>
        </li>
        <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Account</a>
 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
   <a class="dropdown-item" href="/user/upgrade">Upgrade</a>
   <div class="dropdown-divider"></div>
   <a class="dropdown-item" href="/account/edit_profile">Profile</a>
   <div class="dropdown-divider"></div>
   <a class="dropdown-item" href="/logout">Sign Out</a>
 </div>
</li>
      <% else %>
      <li class="nav-item">
       <a class="nav-link" href="/listings">Internships</a>
      </li>
      &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="/sign_up">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
