<div class="listings animated fadeIn">
   <br/>
   <br/>
   <h1>Internships</h1>

   <!-- Display different messages for pro and free users -->
   <% if (current_user.pro == true) %>
   <p>The following internships are based on the skills on your profile: <span class="badge badge-light"><%= current_user.skills%></span></p>
   <span class="badge badge-info"><a href="/account/edit_profile">Edit profile</a></span>
   <span class="badge badge-warning"><a href="/listings/preferred-location">View by preferred location</a></span>
   <span class="badge badge-success"><a href="/listings">View by skills</a></span>
   <br/>
   <% elsif (current_user.administrator == true ) %>
   <p>The following internships are ALL internships stored in the database.</p>
   <% else %>
   <p>The following listings are the top ten internships in our database. <br/>
       To view dozens of internships matched specifically to your skills,
       upgrade for a one time charge of $5.00. <br/>
       <span class="badge badge-secondary"><a href="/user/upgrade">UPGRADE</a></span>
   </p>
   <% end %>
   <!--****************************************************************-->
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
</div>
