  <div class="upgrade-page">
<br/>
<br/>
<br/>
  <h2>Upgrade</h2>
  <br/>
  <br/>
  <br/>
  <p>
     With the <strong>premium</strong> plan, you'll be able to view all
     internship listings in our database for a one time charge of $5.00.
     Yup. It's that simple.
  </p>

  <form action="/charge" method="POST" class="payment">
      <article>
        <label class="amount" id="stripe">
          <span>Amount: $5.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= settings.publishable_key %>"
              data-description="A month's subscription"
              data-amount="500"
              data-locale="auto"></script>
    </form>
  <div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
 <br/>
