<div class="legal">
   <br/>
   <br/>
<strong><h1>Privacy Policy </h1></strong>
<br/>
   <p>
      The SWE-SHIPS Privacy Policy applies to all users, whether individual
      members or corporate customers, upon enrollment. Completing enrollment
      signifies that each user is in agreement with this Privacy Policy and
      the manner in which SWE-SHIPS will collect, store and use user data.
   </p>

   <br/>


      <strong><h4>What data does SWE-SHIPS Collect?</h4></strong>
      <p>
         Identity Data: When you become a member of Jumpstart, Jumpstart collects your
         email address, full name, and skills.
         <br/>
         Technical Data: Jumpstart collects the following technical data:
         IP address, encrypted login information, city / geographical location,
         time zone and OS type.
      </p>

      <br/>

      <strong><h4>How is your Data Stored?</h4></strong>
      <p>
         Your data is stored on, and maintained via, PostgreSQL which
         allows SWE-SHIPS to secure and protect the data across Heroku's large and stable
         infrastructure. The information is stored in SWE-SHIPS SQL-based database (SQLite3) and
         uses application based encryption to secure the database and passwords that are
         used to run the application.
      </p>

      <br/>

      <strong><h4>What does SWE-SHIPS Use Data For?</h4></strong>
      <p>
         All data that is collected by SWE-SHIPS is used: to deliver and improve our services;
         to manage your account and provide you with customer support; to perform
         research and analysis about use of the services in an anonymized manner;
         for website application analytics; to diagnose or fix technology problems;
         to automatically update the services on your device; to verify your identify and
         prevent fraud or other unauthorized or illegal activity. Any personal information
         collected is never made available to the public or sold to third parties.
      </p>

      <br/>

      <strong><h4>LEGAL DISCLOSURE</h4></strong>
      <p>
         SWE-SHIPS may need to disclose personal data if required to do so by law,
         subpoena or other judicial process. SWE-SHIPS will notify any user whose
         information may be disclosed prior to such disclosure subject to applicable
         law. SWE-SHIPS will limit any such disclosures to only the information
         required by law.
      </p>

      <br/>
      <strong><h4>Changes to Our Privacy Policy </h4></strong>
      <p>
         We reserve the right, in our sole discretion, to change, modify, add,
         or remove portions of this Privacy Policy at any time. Any changes or
         updates will be effective immediately upon posting to this page.
         You should review this Privacy Policy regularly for changes. Your
         continued use of our site following the posting of any changes to this
         Privacy Policy means you consent to such changes.
      </p>

      <br/>
</div>
