<div class="legal">
   <br/>
   <br/>
<strong><h1>Terms of Use </h1></strong>
<br/>
<br/>
<strong><h3>1. TERMS</h3></strong>
   <p>
      Please read these Terms and Conditions (“Terms”, “Terms of Use”) carefully before
      using the swe-ships.co website and our services (together, the “Service”)
      operated by SWE-SHIPS. (“SWE-SHIPS,” ‘”us”, “we”, or “our”).
      <br/>
      <br/>
      Your access to, and use of, the Service is conditioned on your acceptance of and compliance
      with these Terms and all applicable laws and regulations. These Terms apply to all visitors,
      users and others who access or use the Service.
      <br/>
      <br/>
      <strong>By accessing or using the Service you agree to be bound by these Terms and our
      Privacy Policy. If you disagree with any part of the Terms then you may not access
      the Service. </strong>
      <br/>
      <br/>
      The materials contained in the Services are protected by applicable copyright and
      trademark law.
   </p>

   <br/>

   <strong><h3>2. USE LICENSE</h3></strong>
      <p>
         Permission is granted to temporarily access our service (information or software)
         for personal, non-commercial transitory viewing only. This is the grant of a license,
         not a transfer of title, and under this license you may not:
         <br/>
         <ol>
            <li>Modify or copy the materials</li>
            <li>Use the materials for any commercial purpose, or for any public display</li>
            <li>Attempt to decompile or reverse engineer any software contained in
            the service </li>
            <li>Remove any copyright or other proprietary notataions fromt the materials </li>
            <li>Transfer the materials to another person or "mirror" the materials
            on any other server</li>
         </ol>
      </p>

      <br/>

      <strong><h3>3. CONSENT TO USE OF DATA</h3></strong>
      <p>
         You agree that we may collect and use techincial data and realted information-
         inluding but not limited to technical information about your device, system
         and application software, and peripherals- that is gathered periodically to
         facilitate the provision of software updates, product support, and other services
         to you (if any) related to the Services. We may use this information, as long as it
         is in a form that does not personally identify you, to improve its products or to
         provide services or technologies to you.
      </p>

      <br/>

      <strong><h3>4. INTELLECTUAL PROPERTY</h3></strong>
      <p>
         We reserve all of our intellectual property rights in the Services. Using the
         Services does not give you any ownership in our Services or the content or
         information made available through our Services. Trademarks and logos used in
         connection with the Services are the trademarks of their respective owners.
      </p>

      <strong><h3>5. DISCLAIMER AND LIMIT OF LIABILITY</h3></strong>
      <p> A. No Warranty <br/>
         You expressly acknowledge and agree that use of the services is at your
         sole risk. To the maximum extent permitted by applicable law, the services
         are provided "as is" and “as available,” with all faults and without
         warranty of any kind, and swe-ships hereby disclaims all warranties and
         conditions with respect to the services, either express, implied, or
         statutory, including, but not limited to, the implied warranties and/or
         conditions of merchantability, of satisfactory quality, of fitness for a
         particular purpose, of accuracy, of quiet enjoyment, and of non-infringement
         of third-party rights. No oral or written information or advice given by
         swe-ships or its authorized representative shall create a warranty.
         Should the services prove defective, you assume the entire cost of all
         necessary servicing, repair, or correction. Some jurisdictions do not
         allow the exclusion of implied warranties or limitations on applicable
         statutory rights of a consumer, so the above exclusion and limitations
         may not apply to you.
      </p>
      <p> B. Limitation of Liability <br/>
         To the extent not prohibited by law, in no event shall SWE-SHIPS be liable
         for personal injury, or any incidental, special, indirect, or consequential
         damages whatsoever, including, without limitation, damages for loss of profits,
         loss of data, business interruption, or any other commercial damages or losses,
         arising out of or related to your use of or inability to use the services, however
         caused, regardless of the theory of liability (contract, tort, or otherwise) and
         even if SWE-SHIPS has been advised of the possibility of such damages. Some
         jurisdictions do not allow the limitation of liability for personal injury,
         or of incidental or consequential damages, so this limitation may not apply to you.
         In no event shall SWE-SHIP's total liability to you for all damages (other
         than as may be required by applicable law in cases involving personal injury)
         exceed the amount of ten dollars ($10.00). The foregoing limitations will
         apply even if the above stated remedy fails of its essential purpose.
      </p>

      <br/>

      <strong><h3>6. PRIVACY</h3></strong>
      <p>
         Your personal data will be collected and processed by SWE-SHIPS in
         accordance with our Privacy Policy.
      </p>

      <br/>

      <strong><h3>7. ACCURACY OF MATERIALS</h3></strong>
      <p>
         The materials appearing on the Service could include technical, typographical,
         or photographic errors. SWE-SHIPS does not warrant that any of the materials
         are accurate, complete, or current. SWE-SHIPS may make changes contained in
         the Service at any time without notice. However, SWE-SHIPS does not make
         any commitment to update the materials.
      </p>

      <br/>

      <strong><h3>8. LINKS</h3></strong>
      <p>
         SWE-SHIPS has not reviewed all of the sites linked to the Service
         and is not responsible for the contents of any such linked site. The
         inclusion of any link does not imply endorsement by SWE-SHIPS of the site.
         Use of any such linked website is at the user's own risk.
      </p>

      <br/>

      <strong><h3>9. TERMINATION</h3></strong>
      <p>
         We reserve the right to suspend or terminate your access to the Services
         with notice to you if:
         <br/>
         &nbsp;&nbsp; a. You are in material breach of these Terms, <br/>
         &nbsp;&nbsp; b. You are using the Service in a manner that would cause
                         a real risk of harm or loss to us or other users <br/>
         <br/>
         We will provide you with reasonable advance notice via the email address
         associated with your account to remedy the activity that prompted us to
         contact you. If after sch notice you fail to take the steps we ask of you,
         we will terminate or suspend your access to the Services.
         <br/>
         We will not provide notice before termination where: <br/>
         <br/>
         &nbsp;&nbsp; a. You are in material breach of these Terms, <br/>
         &nbsp;&nbsp; b. Doing so would cause us legal liability or compromise our
                         ability to provide the Services to our other users, <br/>
         &nbsp;&nbsp; c. We are prohibited from doing so by law <br/>
      </p>

      <br/>

      <strong><h3>10. ENTIRE AGREEMENT</h3></strong>
      <p>
         These Terms constitute the entire agreement between you and SWE-SHIPS
         with respect to the subject matter of these Terms, and supersede and
         replace any other prior or contemporaneous agreements, or terms and
         conditions applicable to the subject matter of these Terms. These Terms
         create no third party beneficiary rights.
      </p>

      <br/>

      <strong><h3>11. MODIFICATIONS</h3></strong>
      <p>
         SWE-SHIPS may revise these Terms at any time without notice. By using the
         Service you are agreeing to be bound by the then current version of these
         Terms.
      </p>

      <br/>

      <strong><h3>12. GOVERNING LAW</h3></strong>
      <p>
         These terms and conditions are governed by and construed in accordance
         with the laws of Texas, and you irrevocably submit to the exclusive
         jurisdictions of the courts in that State or location.
      </p>

      <br/>
</div>
