<br/>
<br/>
<div class="container">
<h2>Post an Internship</h2>
<br/>
<br/>
<div class="alert alert-success" role="alert">
  Successly added.
</div>
<form action="/create" method="POST">
  <div class="col-6">
    <label for="listingTitle">Job Title</label>
    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter job title" name="title">
  </div>
  <br/>
  <div class="col-6">
    <label for="listingDescription">Job Description</label>
    <input type="text" class="form-control" placeholder="Enter job description" name="description">
  </div>
  <br/>
  <div class="col-6">
    <label for="listingLogo">Company Logo</label>
    <input type="text" class="form-control" placeholder="Enter company logo" name="logo">
  </div>
    <br/>
    <div class="col-6">
     <label for="listingUrl">Job Posting URL</label>
     <input type="text" class="form-control" placeholder="Enter link to job posting" name="l_url">
    </div>
    <br/>
    <div class="col-6">
     <label for="listingUrl">Company</label>
     <input type="text" class="form-control" placeholder="Enter company name" name="company">
    </div>
    <br/>
    <div class="col-6">
     <label for="listingLocation">Location</label>
     <input type="text" class="form-control" placeholder="Enter job location" name="location">
    </div>
    <br/>
  &nbsp;&nbsp;<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
<br/>
<br/>
