<div class="upload-listing">
<br/>
<br/>
<br/>
<h1>Upload an Internship</h1>
<br/>
<div class="alert alert-success" role="alert">
  Successly added.
  </div>
<br/>
<form action="/create" method="POST">
   <div class="row" id="aisle">
         <div class="col-6">
            <label for="listingTitle">Job Title</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Ex: Software Engineering Intern" name="title" required>
         </div>
        <br/>
        <div class="col-6">
            <label for="listingDescription">Job Description</label>
            <input type="text" class="form-control" placeholder="Ex: Company values and expectations for the role" name="description" required>
        </div>
        <br/>
     </div>
  <br/>
    <div class="row" id="aisle">
       <div class="col-6">
           <label for="listingUrl">Company</label>
           <input type="text" class="form-control" placeholder="Ex: Github" name="company" required>
       </div>
       <br/>
       <div class="col-6">
           <label for="listingLocation">Location</label>
           <input type="text" class="form-control" placeholder="Ex: NY" name="location" required>
       </div>
       <br/>
    </div>
    <br/>
    <div class="row" id="aisle">
      <div class="col-6">
           <label for="listingUrl">Required Skills</label>
           <input type="text" class="form-control" placeholder="Ex: C++, Python, Java, HTML, CSS" name="skills" required>
      </div>
            <br/>
            <div class="col-6">
                <label for="listingUrl">Job Posting Link</label>
                <input type="text" class="form-control" placeholder="Enter link to job posting" name="l_url" required>
            </div>
            <br/>
     </div>
     <br/>
      <div class="row" id="aisle">
     <div class="col-6">
          <label for="listingLogo">Company Logo</label>
          <input type="text" class="form-control" placeholder="Enter company logo" name="logo" required>
     </div>
     </div>
     <br/>
    <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<br/>
