body {
   background-color:#f9f9f9;
   margin:0;
   padding:0;
}


/* PAGE LOADER */
.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.loader div{
	height: 20px;
	width: 20px;
	margin-left: 20px;
	border-radius: 50%;
	background: #cbc1ff;
	position: relative;
	float: left;
	animation: move 1s linear infinite;
}

@keyframes move{
	0%,60%,100%{
		top: 0;
	}
	30%{
		top: -30px;
	}
}

.loader div:nth-child(1){
	animation-delay: 0s;
}
.loader div:nth-child(2){
	animation-delay: 0.2s;
}
.loader div:nth-child(3){
	animation-delay: 0.4s;
}

.loader.complete {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

/* NAVIGATION BAR */
.navbar {
  font-weight: 100;
  color:#310e60;
}

.navbar .navbar-brand {
  color: #310e60;
  font-weight:100;
  font-size:25px;
}

.navbar .navbar-text a {
  color: #b691e0;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #b691e0;
}
.navbar .navbar-nav .nav-link {
  color: #310e60;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-family: 'Lato';
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #b691e0;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #b691e0;
  background-color:#f9f9f9;
}

.dropdown-item {
   font-family:'Lato';
}

.fixed-top.scrolled {
  background-color: #F9F9F9 !important;
  transition: background-color 200ms linear;
}

/* JUMBOTRON */
.jumbotron {
   padding-left:90px;
   background-image:url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   color:white;
}

.jumbotron > h1 {
   font-size:4em;
}

.jumbotron p {
   font-size:20px;
   font-weight:300;
}

/* INDEX PAGE */
.btn-sm {
   padding:10px 45px 13px 45px;
   border-radius: 25px;
}

.listings {
   width:80%;
   margin: auto;
   overflow: hidden;
   font-family: 'Nunito', sans-serif;
}

/* JOB TITLE */
.listings h3 {
   color:#a08acc;
   font-weight: 200;
}

/* COMPANY LOGO */
.listings img {
   float:left;
   margin:0px 20px 0px 0px;
}

.listings button {
   float:right;
}

span a {
   text-decoration: none;
   color:white;
   font-size: 1.25em;
}
span a:hover {
   color:white;
   text-decoration: none;
}

/* UPLOAD A NEW INTERNSHIP PAGE */
.upload-listing {
   margin:100px 100px 50px 100px;
   font-family: 'Nunito', sans-serif;
}

/* UPGRADE PAGE */
.upgrade-page {
   margin:100px 100px 50px 100px;
   font-family: 'Nunito', sans-serif;
}

.container {
   font-family: 'Nunito', sans-serif;
}

/* FOOTER SECTION */
.slogan {
   padding:50px 0px 50px 0px;
   text-align: center;
   background-image:url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   background-position: bottom;
   color:white;
}

.slogan h1 {
   font-weight:200;
   font-size:55px;
}

.end {
   padding:75px 100px 50px 100px;
   background-color:#f9f9f9;
   color: grey;
   font-family: 'Nunito', sans-serif;
}

/* HOME PAGE */
.about-app {
  background-color: #f9f9f9;
  padding: 100px 60px 100px 60px;
  color:#355C7D;
}

.grid {
   display:grid;
   grid-gap:50px;
   grid-template-columns:1fr 1fr 1fr 1fr;
   grid-template-rows:100px 100px;
   overflow: auto;
   padding:0px 70px 0px 70px;
}

.grid h2 {
   font-weight:200;
   font-size:35px;
}

.grid p {
   color:#636363;
   font-weight:200;
}

.grid-item-one {
   grid-column-start:1;
   grid-column-end:3;
}

.grid-item-two {
   grid-column-start:3;
   grid-column-end:5;
}

/* TERMS OF USE PAGE */

.legal {
   font-family: 'Nunito', sans-serif;
   margin: 100px 200px 100px 200px;
}

.legal h1, h3, h4 {
   font-weight:700;
}


/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #A78FE8;
  color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* MODAL BODY */
.modal-content {
   background:rgba(255,255,255, 0.9);
   color:grey;
   font-family: 'Lato', sans-serif;
   font-weight:200;
   font-size:1em;
}

.modal-header {
   background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   background-position: left;
   color:white;
}

.modal-content a {
   color:#2d2d2d;
}

.modal-content a:hover {
   color:#b691e0;
   text-decoration: none;
}

.modal-title {
   font-weight:200;
   font-size: 2.5em;
}

.terms-link {
   padding-left: 20px;
}

.col-md-5 {
   padding-left: 47px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
}

.col-md-11 {
   padding-left: 30px;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
}

.col-sm-4 {
   padding-top: 20px;
}

/* CARD */
ul {
  list-style: none;
}

.card-body {
   font-family: 'Karla', sans-serif;
}

.card-rows {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0px 0px 0px 120px;
}

/* Black premium checkmark */
.premium-benefits {
  list-style-image:url("/images/checklist.png");
}

/* Grey free checkmark */
.free-benefits {
  list-style-image:url("/images/free_checklist.png");
  color:grey;
}

/* Lavender colored button */
.btn-premium {
   color: #ffffff;
   background-color: #A78FE8;
   border-color: #A78FE8;
   font-family: 'Nunito';
}

.btn-premium:hover,
.btn-premium:focus,
.btn-premium:active,
.btn-premium.active,
.open .dropdown-toggle.btn-premium {
   color: #ffffff;
   background-color: #4f28b7;
   border-color: #4f28b7;
}

.card-btn {
   align-items: center;
   width:80%;
   max-width: 300px;
   padding:12px 0px 12px 0px;
   border-radius: 25px;
   margin:0px 20px 0px 20px;
}

/* White button with lavender colored text and border */
.btn-free {
   color: #AF83E7;
   background-color: #FFFFFF;
   border-color: #AF83E7;
   font-family: 'Nunito';
}

.btn-free:hover,
.btn-free:focus,
.btn-free:active,
.btn-free.active,
.open .dropdown-toggle.btn-free {
   color: #4f28b7;
   background-color: #FFFFFF;
   border-color: #4f28b7;
}

.free-vs-premium h3 {
   text-align: center;
   font-weight: 200;
}

/* Media Queries */
@media (max-width: 768px) {
   .jumbotron h1 {
      font-size: 3em;
   }
   .jumbotron {
      padding-left: 40px;
   }
   .listings h3 {
      font-size: 1.5em;
   }
   .free-vs-premium h3 {
      padding: 0px 20px 0px 20px;
   }
   .listings img {
      margin: 20px 20px 30px 0px;
   }
   .col-sm-5 {
       -webkit-box-flex: 0;
       -ms-flex: 0 0 33.333333%;
       flex: 0 0 33.333333%;
       max-width: 33.333333%;
       min-width: 350px;
   }
   .card-rows {
      padding: 0px 25px 0px 15px;
   }
   .navbar {
     font-weight: 100;
     color:#310e60;
     background-color:#f9f9f9;
   }
   .col-md-11, .terms-link {
      padding-left: 0px;
   }
   .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100%;
}
}
